/*  * {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-image: url("../images/bgg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

}
.main {
  height: 100%;
  background-color: #00000053;
}
h4.head {
  background: #ffffffe1;
  border-bottom: 2px solid #303030;
}
.card {
  background-color: rgb(255, 255, 255) !important;
}
.sticky-bottom i {
  font-size: 30px;
}
.sticky-bottom button {
  border: 5px;
  border-radius: 50%;
  font-size: large;
}
footer {
  background-color: #ffd806;
  padding: 0px;
  text-align: center;
  height: 50px;
}

footer p {
  color: #2e2e2e;
}
*/
